---
import MainLayout from '../layouts/MainLayout.astro';
---

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="generator" content={Astro.generator} />
		<title>Download Management Site</title>
	</head>
	<body>
		<marquee>Download Management</marquee>
		<br>
<MainLayout layout></MainLayout>
	</body>
</html>